:host {
  display: block;
  width: 100%;
  height: 100%;
  
  --axis-text-font-size: 1em;
}

.axis-box {
  cursor: pointer;
}

.axis-box :hover {
  opacity: .5;
}

.axis-text {
  font-size: var(--axis-text-font-size);
  pointer-events: none;
}
